:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("../../../Assets/images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header-れ {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

content-れ {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}