ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 3rem;}
//I want break points like conventional media queries, it's to change the header, what width should I use for the header list items? 
