input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input#image{
    display: none;
}

#imageLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9FDAF9;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }