h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Spartan MB", sans-serif;
    color: #2f487e;
}

body,
p,
label,
li,
span {
    font-family: "Archivo", sans-serif;
    color: #2f487e;
    line-height:1.25rem;
}

a {
    font-family: "Archivo", sans-serif;
    color: #D22B8A;
}

button {
    cursor:pointer;
    background-color: #d22b8a;
    border: none;
    color: white;
    padding: 0.4rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:1rem;
}

.mt-10 {margin-top:2.5rem;}
.ml-2 {margin-left:0.5rem;}