button {
    background-color: #9FDAF9;
    margin: 10px;
    white-space: nowrap;
    font-size: 1.1rem;
    color: #002757;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    border-style: solid;
    border-color: #9FDAF9;

    &:hover {
        border-color: #002757
    }
}

button#confirm {
    background-color: #F9A9A9;
    border-color: #F9A9A9;
    color: #570000;

    &:hover {
        border-color: #570000;
    }
}