:host {
  display: block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration-line: underline;
}

.italic {
  font-style: italic;
}

.non_bold {
  font-weight: normal;
}

.non_underline {
  text-decoration-line: none;
  display: inline-block;
}

.non_italic {
  font-style: normal;
}

.editor {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 150px;
  font-family: sans-serif;
  background-color: #f4faff;
}

.resizable {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: -moz-fit-content;
  width: fit-content; 
} 

.resizable img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-wrapper {
  position: relative; 
  display: inline-block;
} 

.toolbar-button {
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  width: 50px;
  height: 50px;
  border: 5px solid white;
  cursor: pointer;
}

.toolbar-button.active {
  border: 5px solid #0055A4; 
  filter: brightness(1.2);
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.image-input {
  display: none;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #9FDAF9;
    margin: 10px;
    white-space: nowrap;
    font-size: 1.1rem;
    color: #002757;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    border-style: solid;
    border-color: #9FDAF9;

    &:hover {
        border-color: #002757
    }
}