<player-header-χ>
  <div slot="topLeft" event="click | stopScenario | ">
    <p>QUIT</p>
  </div>
  <div slot="topMiddle"></div>
  <div slot="topRight">
    <p bind="name"></p>
  </div>
</player-header-χ>
<div id="container">
  <div id="backgroundImg">
      <img src="https://st4.depositphotos.com/1001435/25327/i/1600/depositphotos_253276588-stock-photo-sad-young-man.jpg" alt=""/>
  </div>
  <div id="node">

  </div>
</div>

<player-footer-χ>
  <div slot="bottomLeft"></div>
  <div slot="bottomMiddle">
    <p bind="nodeTitle"></p>
  </div>
  <div slot="bottomRight"></div>
</player-footer-χ>