:host {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

form {
    display: grid;
    height:auto;
    padding: 50px;
}

formitem-れ {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    margin-bottom: 10px;
}

formitem-れ[amountInRow="two"] {
    width: 90%;
}

formitem-れ[amountInRow="one"] {
    width: 95%;
}

#imagePreview {
    grid-area: imagePreview;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    display: none;
    width: 95%;

}

button {
    all: unset;
    grid-area: submit;
    height: 18px;
    width: 78.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E30147;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}