@font-face {
    font-family: 'PixelFont';
    src: url('../public/fonts/Minecraft.woff2') format('woff2');
}

* {
    font-family: Roboto, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}