form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.picture-box {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
}

img {
    width: 100%;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

textarea {
    resize: none;
    font-family: inherit;
}