<div id="container">
    <div>
        <a class="nav-item-logo fl" route="/">
            <img src="./assets/alert-blue.svg" alt="logo Alert project" width="100px">
        </a>

        <a class="nav-item fr" route="bg-info" id="bginfoButton">BG-Info</a>
        <a class="nav-item fr" route="subsidiering" id="fundingButton">Subsidiëring</a>
        <a class="nav-item fr" route="projectteam" id="projectteamButton">Projectteam</a>
        <a class="nav-item fr" route="begeleidingsgroep" id="partnersButton">Begeleidingsgroep</a>
        <a class="nav-item fr" route="achtergrond" id="backgroundButton">Achtergrond</a>
        <a class="nav-item fr" route="/" id="alertButton">Alert</a>
    </div>
</div>